body {
    font-family: "Open Sans", sans-serif;
    /*background-image: url("../img/bg-tile.png");*/
    background-color: #337ab7;
}

#mainContainer {
    margin: auto;
    padding: 10px;
	padding-top: 0px;
    /*width: 1300px;*/
    max-width: 1300px;
    width: 90%;
    margin-top: 25px;
}

#panelLeftContainer {
    position: relative;
    float:left;
    text-align: center;
    width: 200px;
    height: 550px;
    padding: 10px;
}

#panelCenterContainer {
    position: relative;
    float: left;
    left: 10px;
    width: 700px;
    height: 550px;
}

#middleContainer {
    width: 350px;
    position: relative;
    margin: auto;
    margin-top: 240px;
}

#panelRightContainer {
    position: relative;
    float: left;
    left: 20px;
    text-align: center;
    width: 275px;
    height: 550px;
    padding: 10px;
}

.panel-heading {
    height: 35px;
}

#roomScroller {
    position: relative;
    overflow: scroll;
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

#gradientRoomsPlayers {
    position:absolute;
    z-index:2;
    right:0; bottom:0; left:0;
    height:500px; /* adjust it to your needs */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 92%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(92%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    pointer-events: none;
}

#conversationContainer {
    position: relative;
}

#conversation {
	overflow: scroll;
    height: 425px;
    overflow-x: auto;
    overflow-y: auto;
}

#conenction-alert {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#gradientChat {
    position:absolute;
    z-index:2;
    right:0; bottom:0; left:0;
    height:425px; /* adjust it to your needs */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 92%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(92%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    pointer-events: none;
}​

.roomItem, .roomItem a {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #a94442;
    border-color: #983331;
    text-align: center;
}

.chatItem {
position: relative;
width: 233px;
padding: 5px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #449d44 solid 5px;
background-color: #449d44;
text-align:left;
color: #FFFFFF;
margin: 5px auto;
}
.chatItem:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 6px 5px 0;
display: block;
width: 0;
z-index: 1;
left: -6px;
top: 12px;
border-color: transparent #449d44;
}
.chatItem:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 10px 9px 0;
border-color: transparent #449d44;
display: block;
width: 0;
z-index: 0;
left: -15px;
top: 8px;
}

.chatItemRed {
position: relative;
width: 233px;
padding: 5px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #a94442 solid 5px;
background-color: #a94442;
text-align:left;
color: #FFFFFF;
margin: 5px auto;
}
.chatItemRed:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 0 5px 6px;
border-color: transparent #a94442;
display: block;
width: 0;
z-index: 1;
right: -6px;
top: 12px;
}
.chatItemRed:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 0 9px 10px;
border-color: transparent #a94442;
display: block;
width: 0;
z-index: 0;
right: -15px;
top: 8px;
}
.chatItemYellow {
    position: relative;
    width: 240px;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #f0ad4e solid 5px;
    background-color: #f0ad4e;
    color: #FFFFFF;
    margin: 5px auto;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 75%;
}
#leaveRoom {
    display: none;
    width: 100%;
    margin-bottom: 5px;
}

#players {
    display: none;
    color: #337ab7;
}

.player {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.playerName {
    padding: 6px;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
}

#roomPlay {
    display: none;
    text-align: center;
    margin: 5px;
    height: 540px;
    background-color: #CCC;
}

#progressContainer {
    width: 100%;
    height: 180px;
}

.progress {
    height: 30px;
    font-size: 20px;
}

.progress-bar {
    font-size: 20px;
    line-height: 30px;
    text-shadow:
    -1px -1px 2px #333,
    1px -1px 2px #333,
    -1px 1px 2px #333,
    1px 1px 2px #333;
}

#task {
    color: #337ab7;
    font-size: 600%;
    margin: 40px 0 40px 0;
    opacity: 0;
}

#suggestionsContainer {
    width: 100%;
}

.suggestion {
    margin: 0 25px 0 25px;
    width: 100px;
    height: 100px;
    font-size: 300%;
    opacity: 0;
}

#modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
    background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;

}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color: #3073BB;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
    text-align: center;
    font-size:medium;
}

#alertBox p {
    font:0.7em verdana,arial;
    height:50px;
    text-align: center;
    color: blue;
    font-size:medium;
}

#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
    font:0.7em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#357EBD;
    border-radius: 3px;
    text-decoration:none;
}

#status-notifier-container {
    display: none;
    text-align: center;
    font-weight: bold;
    background-color: #3073BB;
    color: white;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.alert-danger {
    display: none;
}

.statusNotLoggedIn {
    display: none;
}

.statusLoggedIn {
    display: none;
}

#registration-container-slider {
    display: none;
}

#logout-container-slider {
    display: none;
}

#login-container-slider {
    display: none;
}

.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
    cursor: move;
}

.green {
    color: #fff!important;
    background-color: #449d44!important;
    border-color: #398439!important;
}

.blue {
    color: #fff!important;
    background-color: #337ab7!important;
    border-color: #2e6da4!important;
}

.red {
    color: #fff!important;
    background-color: #a94442!important;
    border-color: #983331!important;
}

#refreshRooms {
    cursor: pointer;
    cursor: hand;
}

/* Checkbox style */
.customCheckbox {
    width: 140px;
    height: 26px;
    background: #333;
    margin: 20px auto;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.customCheckbox:after {
    content: 'Not ready';
    font: 12px/26px Arial, sans-serif;
    color: #a94442;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
}

.customCheckbox:before {
    content: 'Ready';
    font: 12px/26px Arial, sans-serif;
    color: #449d44;
    position: absolute;
    left: 20px;
    z-index: 0;
    font-weight: bold;
}

.customCheckbox label {
    display: block;
    width: 65px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.customCheckbox input[type=checkbox]:checked + label {
    left: 72px;
}

input[type=checkbox] {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.75;
}

.others
{
    margin: 10px auto!important;
}

hr {
    border: 0;
    height: 1px;

    background-image: -webkit-linear-gradient(left, rgba(51,122,183,0), rgba(51,122,183,0.75), rgba(51,122,183,0));
    background-image:    -moz-linear-gradient(left, rgba(51,122,183,0), rgba(51,122,183,0.75), rgba(51,122,183,0));
    background-image:     -ms-linear-gradient(left, rgba(51,122,183,0), rgba(51,122,183,0.75), rgba(51,122,183,0));
    background-image:      -o-linear-gradient(left, rgba(51,122,183,0), rgba(51,122,183,0.75), rgba(51,122,183,0));
}

.table th {
    text-align: center;
}

.mainP {
    text-align: justify;
    max-width: 800px;
    margin: auto;
    padding: 0 5%;
}