body {
    /*font-family: 'Patrick Hand', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Marck Script', cursive;*/
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}

#mainContainer {
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    /*width: 1300px;*/
    max-width: 1300px;
    width: 90%;
    height: 600px;
    margin-top: 25px;
}

#panelLeftContainer {
    position: relative;
    float:left;
    left: 20px;
    text-align: center;
    width: 200px;
    height: 550px;
    padding: 10px;
}

#panelCenterContainer {
    position: relative;
    float: left;
    left: 35px;
    width: 700px;
    height: 550px;
}

#middleContainer {
    width: 350px;
    position: relative;
    margin: auto;
    margin-top: 240px;
}

#panelRightContainer {
    position: relative;
    float: left;
    left: 50px;
    text-align: center;
    width: 300px;
    height: 550px;
    padding: 10px;
}

.panel-heading {
    height: 35px;
}

#roomScroller {
    position: relative;
    overflow: scroll;
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

#gradientRoomsPlayers {
    position:absolute;
    z-index:2;
    right:0; bottom:0; left:0;
    height:500px; /* adjust it to your needs */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 92%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(92%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    pointer-events: none;
}

#conversationContainer {
    position: relative;
}

#conversation {
    overflow: scroll;
    height: 425px;
    overflow-x: auto;
    overflow-y: auto;
}

#conenction-alert {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#gradientChat {
    position:absolute;
    z-index:2;
    right:0; bottom:0; left:0;
    height:425px; /* adjust it to your needs */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 92%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(92%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    pointer-events: none;
}​

.roomItem {
    padding: 5px;
    margin: 5px;
}

.chatItem {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    background-color: #337ab7;
    text-align: left;
}

#leaveRoom {
    display: none;
    width: 100%;
    margin-bottom: 5px;
}

#players {
    display: none;
    color: #337ab7;
}

.player {
    padding: 5px;
    margin: 5px;
}

#roomPlay {
    display: none;
    text-align: center;
    margin: 5px;
    height: 540px;
    background-color: #CCC;
}

#progressContainer {
    width: 100%;
    height: 180px;
}

.progress {
    height: 30px;
    font-size: 20px;
}

.progress-bar {
    font-size: 20px;
    line-height: 30px;
}

#task {
    color: #337ab7;
    font-size: 600%;
    margin: 40px 0 40px 0;
    opacity: 0;
}

#suggestionsContainer {
    width: 100%;
}

.suggestion {
    margin: 0 25px 0 25px;
    width: 100px;
    height: 100px;
    font-size: 300%;
    opacity: 0;
}

#modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
    background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;

}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color: #3073BB;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
    text-align: center;
    font-size:medium;
}

#alertBox p {
    font:0.7em verdana,arial;
    height:50px;
    text-align: center;
    color: blue;
    font-size:medium;
}

#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
    font:0.7em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#357EBD;
    border-radius: 3px;
    text-decoration:none;
}

#status-notifier-container {
    display: none;
    text-align: center;
    font-weight: bold;
    background-color: #3073BB;
    color: white;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.alert-danger {
    display: none;
}

.statusNotLoggedIn {
    display: none;
}

.statusLoggedIn {
    display: none;
}

#registration-container-slider {
    display: none;
}

#logout-container-slider {
    display: none;
}

#login-container-slider {
    display: none;
}